.wrapper{
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  border-radius: 10px;
  right: 100%;
  top: 0;
  z-index: 5;
  border: 1px solid black;
  overflow: hidden;
}
.header{
  background-color: black;
  color: yellow;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
}
.comment{
  padding: 5px;
}